.App {
  text-align: center;
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  background-color: #282c34;
  min-height: 30vh;
  min-width: 170vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  font-size: calc(10px + 8vmin);
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
