.login {
  display: grid;
  background-color: black;
  height: 50em;
  place-items: center;
}

.login > img {
  height: auto;
}

.login > a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 100px;
  font-weight: 800;
  background-color: #1db954;
}
